body{
      font-weight:200;
      padding-bottom: 40px;
}
.center{
      text-align: center;
}

.change-themes-list .active{
      font-weight: bold;
}

.strong{
      font-weight: bold;
}

/* Modal outline fix */
*:focus,
a:focus{
      outline: none;
}

.threadList li{
      list-style: none;
      margin:0;
      margin:4px;
      border:1px solid #ddd;
      font-weight:200;
      box-shadow: 1px 1px 1px #eeeeff;
}
.threadList{
      margin:0;
      padding:0;
}
.threadList .threadBody{
      padding:5px;
}
.threadList .threadName{
      font-size:18px;
      font-weight:200;

}
.threadList .threadName em{
      font-size:12px;
      font-weight:200;
      color:#ccc;
      display:block;
}


.threadList .threadLink{
      font-size:90%;
      background:#eee;
}


.threadList .threadLink a{
      display:block;
      text-align: right;
      background:#eee;
      padding:2px;
}

.leadArticle a{
      font-weight:500;
}

.welcome{
      font-weight:200;
      font-size:1.1em;
      line-height:20px;
      margin-bottom:10px;
}

.welcome h1{
      margin-bottom:10;font-size:30px;line-height:1.2;color:inherit;letter-spacing:-1px;
}
#subscribeEmail{
      margin-top:9px;
}


#gplusActivities ul{
      margin:0;
      padding:0;
}

#gplusActivities ul li{
      margin:0;
      margin-bottom:8px;
      font-size:90%;
      list-style:none;
      border-bottom:1px solid #eee;
}
#gplusActivities ul li span{
      color:#ccc;
      font-style: italic;
      display:block;
      font-size:90%;
}

.bordered{
      border:1px solid #ccc;
      border-radius: 3px;
      padding:8px;
      margin-bottom:8px;
}

.shadowed{
      box-shadow: 1px 1px 2px #eee;
}

.topPlusOne{
      padding-top:7px;
      min-width:120px; /* to prevent the menu from shifting */
}
.red{
      color:red;
}
.maroon{
      color:maroon;
}
.blue{
      color:#3388ff;
}

.ucwords{
      text-transform: capitalize;
}

footer{
      text-align: right;
      font-weight:200;
}
.index{
      color:#555;

}

label{
      font-weight:400;
}
label span{
      font-style: italic;
      display:block;
      font-size:0.9em;
      font-weight:200;
}

.fullWidth input,.fullWidth textarea,.fullWidth select{
      width:98%;
}
.fullWidth input[type="submit"]{
      width:auto;
}

h1.questionTitle{
      font-size:22px;
      text-shadow: 1px 1px 1px #ccc;         

}

#main{
      min-height:500px;
}

.badge{
      font-weight:200;
}
.floatRight{
      float:right;
}

.posterInfo{
      margin:10px 5px;
      text-align: right;
      background:#ffFFEE;
      padding:3px 3px 4px 8px;
      border-radius: 2px;
      border:1px solid #ddd;
      box-shadow: 1px 1px 2px #eee;
      font-size:0.9em;
}
.posterInfo a:hover{
      text-decoration: none;       
}

.gravatar-small{
      margin:0px 0px 0px 6px ;
      box-shadow: 1px 1px 2px #eee;

}
.clear,.clearDiv{
      clear:both;
}

.badge {
      margin-right:3px;
      border-radius: 3px;
}
.badge a:link{
      color:#fff;

}

.nearFull{
      width:90%;
}

.dotBordered{
      border:1px dotted #ccc;
}

.alignRight{
      text-align:right;
}

.alignCenter{
      text-align: center;
}
.directCommentsBody{
      padding:8px;
      font-size:13px;
}

.directComments h4{
      font-size:13px;
      background:#eee;
      padding:2px 4px;
      line-height: 1em; 
      margin:0px;
}

.votingOptions{
      float:left;
      padding:3px;
      border:1px solid #ccc;
      margin-right:8px;
      margin-bottom:8px;
      text-align:center;

}
.votingOptions .answerVoteCount{
      display:block;
      padding:15px;
      font-size:25px;
      font-weight:bold;
}

.postedAnswers .postedAnswer:nth-of-type(even), .postedQuestions .postedQuestion:nth-of-type(even), .postedJobs .postedJobs:nth-of-type(even) {
      background:#f9f9f9;  
}

.postedAnswer{

      padding-bottom:16px;
      margin:6px 0px 6px 10px;
}

.postedQuestion {
      padding:4px;
      padding-bottom:16px;
      margin:6px 0px 6px 10px;
      border:1px solid #eee;

}
.postedQuestion .questionTitle .postedJob{
      font-weight:500;
      font-size:1.1em;
      display:block;
}



.answersHeader{
      background:#666;
      padding:3px;
      color:#fff;
      font-weight:500;
      text-shadow: 1px 1px 2px #000;
      box-shadow: 1px 1px 1px #000;

}
.answerForm{
      margin:6px 0px 6px 10px;

}
.answerForm textarea{
      width:96%;
      height:200px;
      font-weight:200;
}
.answerForm label{
      font-weight:bold;
}
.tags{
      padding:6px 0px;
}
@media(max-width:500px){
      .nearFull{
            width:auto;
      }


}

.custom-width-modal{
      width: 900px; /* SET THE WIDTH OF THE MODAL */
      margin: -250px 0 0 -450px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}

h3 span{
      color:#006dcc;
}

.minH600{
      min-height: 600px;
}

.qCount{
      font-size:0.8em;
      color:#999;
}

.smaller,label .smaller{
      font-size:0.9em;
      color:#777;
}
.bigger{
      font-size:1.2em;
}
.larger{
      font-size:1.8em;
      font-weight:bold;
      padding:4px;
}

#listedQuestion{
      background:#ff8833;
      color:#fff;
      font-size:1.8em;
      padding:8px;
      margin-bottom: 5px;

}
#listedQuestion a{
      color:#fff;
      display:block;
      text-shadow: 1px 1px 2px #555;
}
#smallListedQuestion{
      background:#000;
      border-radius: 2px;
      color:#fff;
      font-size:1.4em;
      padding:8px;
      margin-bottom: 5px;

}
#smallListedQuestion a{
      color:#fff;
      display:block;
      text-shadow: 1px 1px 2px #555;
}

.miniPosted{
      color:#999;
      border:1px solid #ccc;
      padding:2px 5px;
}

.badge a:link,.badge a:visited{
      color:#fff;
}
.pagination span.disabled{
      display:none;
}

.strong{
      font-weight:bold;
}
input.searchBox{
      width:120px;
      height:20px;
      padding:1px 2px;
      margin-top:8px;

}
input.searchBox:focus{
      width:200px;
}        

.questionPanel{
}
.questionH1{
      line-height: 1em;
      margin-top:0;
      margin-bottom:20px;
      font-size:32px;
      text-shadow: 1px 1px 2px #ccc;
}
.normalWidth input{
      width:auto;
}
.block{
      display:block;
}

#sideAskQuestion{
      background:#8aa6c1;

      margin-bottom:10px;
      border:0px ;
      text-shadow: 1px 1px 2px #333;
}
#sideAskQuestion a,#sideAskQuestion a:link,#sideAskQuestion a:visited{
      color:#fff;
      display:block;
}
#sideProfiles{
      background:#000;
      margin-bottom:10px;
      border:0px ;
      text-shadow: 1px 1px 2px #333;
}
#sideProfiles a,#sideProfiles a:link,#sideProfiles a:visited{
      color:#fff;
      display:block;
}
#sideAskQuestion a:hover{
      text-decoration:none;
      text-shadow: 1px 1px 2px #000;

}

.textLikeLink:hover{
      text-decoration: none;
      color:#555;
}
.textLikeLink{
      color:#555;
}

.noListMarker{
      list-style:none;    
}

.userSkills a{
      color:#000;
}
.userSkills span{
      padding:2px;
      background:#3388ff;
      font-weight:300;
      font-size:0.8em;
      color:#fff;
      border:1px solid #888;
      text-shadow: 1px 1px 1px #555;
      border-radius: 2px;
      display:block;
      float:left;
      margin:4px;

}
.skillItem{
      padding:2px;
      background:#3388ff;
      font-weight:300;
      font-size:0.8em;
      color:#fff;
      border:1px solid #888;
      text-shadow: 1px 1px 1px #555;
      border-radius: 2px;
      display:block;
      margin:4px;

}
.skillItem a{
      color:#fff;     
      display:block;
}
.skillItem a:hover{
      color:#fff;     
}
.userSkills span em{
      vertical-align: super;
      font-size:0.8em;
}
.pendingUserSkills span{
      padding:2px;
      background:#9955ff;
      font-weight:300;
      font-size:0.8em;
      color:#fff;
      border:1px solid #888;
      text-shadow: 1px 1px 1px #555;
      border-radius: 2px;
      display:block;
      float:left;
      margin:4px;

}
.devNotes{
      color:orange;
      background:#eee;
      padding:5px 10px;
      box-shadow: 1px 1px 2px #ddd;
      text-shadow: 1px 1px 0px #fff;
      font-size:16px;
}
.dashboardBox h1{

      font-size:1.2em;
      margin:0px;
      color:#3388ff;
      padding:5px;
      line-height:1em;
      letter-spacing: 0.06em;
      text-shadow: 0px 0px 1px #3388ff;
      border-bottom: 1px solid #ffeeee;

}
.wideBtn{
      padding-left:15px;
      padding-right:15px;
}

.thumbActions{
      font-size:0.7em;
      margin:0;   
}


.profileProp li{
      list-style:none;
      margin-bottom:6px;
}

.bold{
      font-weight:400;
}
.profileThumbs img{

}
.profileThumbs a:hover{
      text-decoration: none;
}
.profileThumbs span.title{
      color:#888;
      font-style: italic;
}
.profileThumbs span.name{
      font-weight:300;
}

.profileThumbs li{
      box-shadow: 0px 0px 4px #ccc;
      padding:4px;
      border-radius: 2px;
}

.noFloat{
      float:none;
      clear:both;
}

